<div class="root">
  <div class="column-1">
    <h3 class="category">Home</h3>
  </div>
  <div class="column-2">
    <div class="top-title">
      <p class="title">Flat rent for March</p>
      <p class="amount">-650.00$</p>
    </div>
    <div class="bottom-details">
      <div>
        <div class="trans-icon-container">
          <mat-icon class="trans-icon">arrow_downward</mat-icon>
        </div>
        <p class="mat-caption detail">Expenses</p>
        <div class="dot"></div>
      </div>
      <div>
        <p class="mat-caption detail">28.02.2022</p>
        <div class="dot"></div>
      </div>
      <div><p class="mat-caption detail">Sara Smith</p></div>
    </div>
  </div>
</div>
