<div class="root" *ngIf="transaction">
  <div class="column-1">
    <h3 class="category">{{ "Food" }}</h3>
  </div>
  <div class="column-2">
    <div class="top-title">
      <p class="title">{{ transaction.title }}</p>
      <p class="amount">
        {{ transaction.amount.toString() | number: "1.2-2" }}
        <span [innerHTML]="symbol"></span>
      </p>
    </div>
    <div class="bottom-details">
      <div>
        <div *ngIf="transaction.type === 'expense'" class="trans-icon-down">
          <mat-icon class="trans-icon">arrow_downward</mat-icon>
        </div>
        <div *ngIf="transaction.type === 'income'" class="trans-icon-up">
          <mat-icon class="trans-icon">arrow_upward</mat-icon>
        </div>
        <p class="mat-caption detail">
          {{ transaction.type[0].toUpperCase() + transaction.type.slice(1) }}
        </p>
        <div class="dot"></div>
      </div>
      <div>
        <p class="mat-caption detail">
          {{ transaction.receivalDate | date: "shortDate" }}
        </p>
        <!-- <div class="dot"></div> -->
      </div>
      <!-- <div><p class="mat-caption detail">Sara Smith</p></div> -->
    </div>
  </div>
</div>
