/* You can add global styles to this file, and also import other style files */
@use "/src/constants" as theme;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
  box-sizing: border-box;
}

div.mat-form-field-outline {
  background-color: theme.$light-bg-color;
  border-radius: theme.$border-radius;
}
