.title {
  display: flex;
  justify-content: space-between;
}

.title-actions {
  display: flex;
  gap: 1rem;
}

.title-actions > .left {
  display: flex;
  gap: 0.5rem;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.field {
  display: flex;
  border-bottom: 1px solid gray;
}

.field-last {
  display: flex;
}

.key {
  flex: 1 1 0;
  font-weight: 500;
}

.value {
  flex: 2 2 0;
}
