<div class="root">
  <div class="column-1">
    <div class="piggy-container">
      <img class="piggy" src="/assets/piggy-bank.png" />
    </div>
  </div>
  <div class="column-2">
    <div class="title-bar-add">
      <div class="title-bar">
        <div><p>Apartment</p></div>
        <div><p class="mat-caption">1,520.00 / 4,560.00 $</p></div>
      </div>
      <div class="add"><mat-icon class="add-icon">add</mat-icon></div>
    </div>
    <div class="progress-bar">
      <mat-progress-bar
        color="accent"
        mode="determinate"
        value="40"
      ></mat-progress-bar>
    </div>
  </div>
</div>
