<div class="title">
  <div class="title-text">
    <h1 mat-dialog-title>Log out</h1>
  </div>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="fields-container">
  <p>Are you sure you want to log out?</p>
</div>

<div mat-dialog-actions class="actions">
  <button mat-stroked-button (click)="onClickDelete()">Yes</button>
  <button class="no" mat-flat-button cdkFocusInitial (click)="onNoClick()">
    No
  </button>
</div>
