@use "@angular/material" as mat;
@use "/src/constants" as theme;

$primary-lighter: mat.get-color-from-palette(theme.$palette-primary, "lighter");

.root {
  height: 100%;
  display: flex;
  background-color: theme.$grey-bg-color;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.logo-container {
  display: flex;
  height: 3rem;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.logo {
  margin: 0;
  padding-right: 1rem;
}

.accounts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  height: 100%;
  border: 1px solid $primary-lighter;
}

.nav-bar {
  height: 3rem;
  margin-bottom: 1rem;
}

.transactions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid $primary-lighter;
  padding: 1rem;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid $primary-lighter;
  padding: 1rem;
}

.profile {
  height: 3rem;
  margin-bottom: 1rem;
}
