<div class="root" *ngIf="user">
  <div class="column-1">
    <div class="logo-container">
      <p class="logo">Budgetify</p>
    </div>
    <div class="accounts-container">
      <app-account-card
        *ngFor="let account of user.accounts"
        [user]="user"
        [account]="account"
        [selected]="selectedAccount?._id === account._id"
        [id]="account._id"
        [name]="account.title"
        [balance]="account.balance"
        [symbol]="account.currency.symbol"
        (clickEvent)="onClickCard($event)"
        (editAccountEvent)="editAccount($event)"
        (deleteAccountEvent)="deleteAccount($event)"
      ></app-account-card>
    </div>
  </div>
  <div class="column-2">
    <div class="nav-bar">
      <app-nav-bar-main></app-nav-bar-main>
    </div>
    <div class="transactions-container">
      <app-transactions-section
        *ngIf="selectedAccount"
        [transactions]="transactions"
        [symbol]="selectedAccount.currency.symbol"
      ></app-transactions-section>
    </div>
  </div>
  <div class="column-3">
    <div class="profile">
      <app-nav-bar-profile
        [firstName]="user.name.firstName"
      ></app-nav-bar-profile>
    </div>
    <div class="actions-container">
      <app-actions-section
        [user]="user"
        [account]="selectedAccount"
        (newAccountEvent)="addAccount($event)"
        (newTransactionEvent)="addTransaction($event)"
      ></app-actions-section>
    </div>
  </div>
</div>
