<div class="root" *ngIf="user">
  <div class="column">
    <div class="logo-container">
      <p class="logo">Budgetify</p>
    </div>
    <div class="accounts-container">
      <p>Here, you can navigate to different accounts</p>
    </div>
  </div>
  <div class="column">
    <div class="nav-bar">
      <app-nav-bar-main></app-nav-bar-main>
    </div>
    <div class="transactions-container">
      <p>Here, you can view transactions made from the selected account</p>
    </div>
  </div>
  <div class="column">
    <div class="profile">
      <app-nav-bar-profile
        [firstName]="user.name.firstName"
      ></app-nav-bar-profile>
    </div>
    <div class="actions-container">
      <p>Here, you can add transaction, a new account, piggybank...</p>
    </div>
  </div>
</div>
