@use "@angular/material" as mat;
@use "/src/constants" as theme;

$primary-400: mat.get-color-from-palette(theme.$palette-primary, 400);
$secondary-lighter: mat.get-color-from-palette(
  theme.$palette-secondary,
  "lighter"
);

.root {
  height: 8rem;
  display: flex;
  justify-content: center;
}

.card-container {
  cursor: pointer;
  display: flex;
  width: 80%;
  padding: 0.6rem 1rem;
  gap: 1rem;
  border-radius: theme.$border-radius;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba($color: $secondary-lighter, $alpha: 1),
    rgba($color: $primary-400, $alpha: 1)
  );
  color: white;
}

.column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 2 2 0;
}

.column-2 {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.info {
  color: rgba($color: white, $alpha: 0.7);
  transition: 0.3s;
}

.info:hover {
  color: rgba($color: white, $alpha: 1);
}

.name {
  font-size: larger;
}

.balance {
  font-size: 1.8rem;
}

.card-disabled {
  opacity: 0.3;
}
